<%- include ('../templates/header.ejs', {titulo:'Activar Cuenta'},  error,sesion ) %>

<div>
    <br><br><br><br><br><br>
</div>

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col-7 text-center">
                <img src="images/logom.png" alt="">
                <h2>Activar Usuario</h2>
                <span class="text-center"> <%= `${sesion.name} ${sesion.lastname}` %> </span><br>
                <span class="text-center" id="basic-addon1"> Ingrese el código de confirmación enviado al correo <%= sesion.email %> . </span><br><br>
                <span class="<%= error.class%>" id="basic-addon1"> <%= error.data%> </span><br><br> 
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            
            <div class="col">
                
            </div>
            <div class="col-7">
                <form action="#" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend"> 
                      <span class="input-group-text" id="basic-addon1">Código de Activación </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese el código enviado al correo" aria-label="Username" aria-describedby="basic-addon1" name="code" required>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <button type="submit" class="btn btn-outline-success form-control">Activar</button>    
                        </div>
                    </div>
                    <div class="col">
                        <input type="hidden" name="name" value="<%= sesion.name%> ">
                        <input type="hidden" name="lastname" value="<%= sesion.lastname%> ">
                        <input type="hidden" name="username" value="<%= sesion.username%> ">
                    </div>
                  </div>  
                </div>
            </form>
                
                  
            </div>
            <div class="col">
                
            </div>
            
        </div>
    </div>


</div>

<%- include ('../templates/footer.ejs') %> 